<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="../public/vendor/bootstrap.min.css" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  Bar Pin
                </li>
                <li id="notLogedInForm">
                  <form class="loginForm">
                  <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    <button type="submit" id="loginButton" class="btn btn-primary formButton">Sign in</button>
                    <button type="submit" id="registerButton" class="btn btn-primary formButton">Register</button>
                  </form>
                </li>
            </ul>
        </div>
      <div id="hello">
        <div id="map"></div>
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
      </div>

    </div>



  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfeIRFGkKmV3VDCcQtm517QYp87KA0www&callback=initMap">
  </script>

  <script type="text/javascript" src="../public/vendor/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="../public/vendor/jquery-3.2.1min.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/map.js"></script>

  </body>


</html>
