<!DOCTYPE html>
<html>
    <head>
        <title>Bar Pin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/landing.css">
    </head>
    <body>


        <div id="landing-header">
        <div id="header-box">
        <h1>Pin your favorite bars around town!</h1>
        <a href="/index" id="enter" class="btn btn-lg btn-light">Enter</a>
        </div>
        </div>

        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

    </body>
</html>
