/* CREATE PIN FORM */


.createContainer, .editContainer {
  z-index: 99;
  position: absolute;
  overflow:hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  margin-top: 20vh;
  background-color: #e7e7e7;
  border-radius: 50px;
  width: 390px;
  display: none;
}

#createForm, #editForm {
  text-align: center;
  height: 390px;
}

#createForm .textInput, #editForm .textInput {
  width: 300px;
}

#createForm .btn, #editForm .btn {
  width: 300px;
  margin-bottom: 5px;
}

#createDescription, #editDescription {
  height: 90px;
  text-align:left;
  width: 300px;
}

#typeRadio label {
  margin-left: 3px;
  margin-right: 6px;
}

#notLoggedIn {
  text-align: center;
  margin: 0;
}

#notLoggedIn > span {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  margin-top: 6px;
  font-size: 17px;
}

#notLoggedIn > span:hover {
  color: #630000;
  cursor: pointer;
}

#edit-delete-error {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  top: 25%;
}

#edit-delete-error > span {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  margin-top: 6px;
  font-size: 17px;
}

.show-error {
  display: block;
}
