html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

/* SIDEBAR BUTTON */
#menu-toggle {
  font-size: 35px;
  position: fixed;
  top: 0;
  z-index: 99;
  color: white;
}
#menu-toggle:hover {
  font-size: 35px;
  position: fixed;
  top: 0;
  z-index: 99;
  color: #8b8b8b;
}

/* SIDEBAR ANIMATION */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* GOOGLE MAPS GENERAL */
#map {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

#map > div > div > div:nth-child(10), #map > div > div > button > img {
  display: none;
}

#map > div > div > div:nth-child(2) > a > div > img {
  display: none;
}

#map > div > div:nth-child(2) > div:nth-child(9) > div {
  margin-top: 999%;
}

/* GOOGLE MAPS INFO WINDOW */
#iw-container {
  width: 300px;
  border: 1px solid black;
  overflow: hidden;
}

#iw-container .iw-title {
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: grey;
  color: white;
}

#iw-container .iw-content {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  height: 80px;
}

#iw-container > .btn {
  float: right;
  margin-right: 3px;
  margin-bottom: 2px;
}
