/* SIDEBAR STYLES */

#sidebar-wrapper > ul > li.sidebar-brand > img {
  height: 45px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  /* text-indent: 20px; */
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 40px;
  line-height: 60px;
  color: white;
  text-align: center;
  margin: 20px;
}

form.loginForm {
  width: 80%;
  margin: auto;
}

#inputPassword {
  margin: 15px 0;
}

.formButton {
  width: 60%;
}


#notLoggedInForm > form > p {
  color: sandybrown;
  display: inline-flex;
  line-height: 20px;
}
/* Login and Register Buttons*/
#loginButton {
  margin: 10px auto;
  display:block;
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000;
}

#loginButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#registerButton {
  margin: 10px auto;
  display:block;
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000;
}

#registerButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#logoutButton {
  left: 20%;
  position: absolute;
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000;
  bottom: 30px;
}

#logoutButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#wrapper > header {
  right: 0;
  padding: 15px;
  position: absolute;
  z-index: 100;
  color: #ef7500;
}

#notLoggedInForm > form > div.userImage {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlqKKQorJU5VQ8OFJJzKsnIpqvd37jB9OTg0HG5U8-RPEGl__mZg");
  border-radius: 50%;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: 10px auto 0 auto;
  border: 0.5px solid #ef7500;
}

#notLoggedInForm form.loginForm .userName {
  color: #ef7500
  font-size: 100px;
}

#notLoggedInForm > form > p {
  font-size: 20px;
  margin: 0 auto;
}

.user-search input {
  height: 25px;
  width: 80%;
  margin: 10px auto 0 auto;
}

.user-search button {
  padding: 2px;
  height: 20px;
  line-height: 10px;
}

#notLoggedInForm {
  text-align: center;
}

.btn-group .filter-btn {
  border: 1px solid #ef7500;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.btn-group .filter-btn:hover {
  background-color: white;
  color: #ef7500;
}

.btn-group .filter-btn:active {
  background-color: white;
  color: #ef7500;
}

.sidebar-header {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}
