/* SIDEBAR STYLES */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  /* text-indent: 20px; */
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 40px;
  line-height: 60px;
  color: white;
  text-align: center;
  margin: 20px;
}

form.loginForm {
  width: 80%;
  margin: auto;
}

#inputPassword {
  margin: 15px 0;
}

.formButton {
  width: 60%;
  margin-left: 40px;
}


#notLoggedInForm > form > p {
  color: sandybrown;
  display: inline-flex;
  line-height: 20px;
}
/* Login and Register Buttons*/
#loginButton {
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000;
}

#loginButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#registerButton {
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000; 
}

#registerButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#logoutButton {
  background-color: #EF7501;
  border-color: #d36c08;
  color: #000;
  /* margin: 10px 0; */
}

#logoutButton:hover {
  background-color: #000;
  border-color: #d36c08;
  color: #fff;
}

#wrapper > header {
  right: 0;
  padding: 15px;
  position: absolute;
  z-index: 100;
  color: #ef7500;
}

#notLoggedInForm > form > div.text-center > img {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
  margin: 10px 0;
  border: 0.5px solid #ef7500;
}