html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

#menu-toggle {
  font-size: 35px;
  position: fixed;
  top: 0;
  z-index: 99;
  color: white;
}
#menu-toggle:hover {
  font-size: 35px;
  position: fixed;
  top: 0;
  z-index: 99;
  color: #8b8b8b;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* SIDEBAR STYLES */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 40px;
  line-height: 60px;
  color: white;
  margin: 20px 0 20px 30px;
}

form.loginForm {
  width: 80%;
  margin: auto;
}

#inputPassword {
  margin: 15px 0;
}

.formButton {
  width: 60%;
  margin-left: 40px;
}


@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* GOOGLE MAPS STUFF */
#map {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

#map > div > div > div:nth-child(10), #map > div > div > button > img {
  display: none;
}

/* CREATE PIN FORM */

.createContainer {
  width: 390px;
  height: 350px;
  margin: auto;
  z-index: 99;
  position: fixed;
  top: 0;
  margin-top: 20vh;
  margin-left: 35%;
  background-color: #e7e7e7;
  border-radius: 50px;
  box-shadow: 0 0 1000px 400px rgba(0,0,0,0.50);
  display: none;
}

#createForm {
   text-align: center;
}

#createForm input {
  width: 300px;
}

#createForm .btn {
  margin-bottom: 5px;
}

#createDescription {
  height: 90px;
  text-align:left;
  width: 300px;
}


/* INFO WINDOW */
#iw-container {
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid black;
}

#iw-container .iw-title {
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: grey;
  color: white;

  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
  height: 80px;
}


